.hero {
  min-height: 100vh;
  width: 100%;

  padding: 5rem 8rem 1rem 8rem;
}

.hero h1 {
  margin: 0 0 2rem;

  background: linear-gradient(180deg, #FFFFFF 0%, #45AC34 100%);
    
  -webkit-background-clip: text;
  background-clip: text;
    
  -webkit-text-fill-color: transparent;
}