.portfolio {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.background {
  position: absolute;
  inset: 0;
  z-index: 0;

  isolation: isolate;
  pointer-events: none;
}


.hero {
  z-index: 1;
  position: relative;
  padding: 5rem 0 6rem;
}

