.typewriter {
  display: inline-flex;
  align-items: center;

  color: #38a2ff;
  font-weight: 700;
}

.cursor {
  position: absolute;
  right: -6px;
  top: 0;

  width: 3px;
  height: 1em;

  background: #38a2ff;
  border-radius: 2px;

  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}