.ctaHomeSection {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 4rem 2rem;
}

.ctaHomeBox {
  width: 100%;
  max-width: 1100px;
  background-color: #3F0F6BB2;
  border-radius: 16px;
  padding: 3rem;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

.highlight {
  color: #7726BD;
}

.ctaHomeButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  
  width: 100%;
  max-width: 360px;
  height: 98px;
  border-radius: 200px;
  
  background:
    radial-gradient(120% 120% at 0% 0%, rgba(119,38,189,0.3) 0%, transparent 50%),
    radial-gradient(120% 120% at 100% 0%, rgba(119,38,189,0.3) 0%, transparent 50%),
    radial-gradient(120% 120% at 0% 100%, rgba(11,104,190,0.30) 0%, transparent 70%),
    radial-gradient(120% 120% at 100% 80%, #444b79 0%, transparent 90%),
    linear-gradient(90deg, #4f3da7, #444b79);
    
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  
  text-decoration: none;
  font-weight: 700;
  font-size: 1.5rem;
  
  transition: opacity 0.2s ease, transform 0.2s ease;
  cursor: pointer;
}

.ctaHomeButton:hover {
  opacity: 0.9;
  transform: translateY(-1px);
}